/*初始化*/
*{
	margin:0;
	padding:0
} 
body{
	font-family:"宋体","Times New Roman",Times,serif;
	background:#fff;
	-webkit-text-size-adjust:100%;
} 
a{
	color:#000;
	text-decoration:none;
} 
a:hover{
	text-decoration:underline;
}
em{
	font-style:normal;
} 
li{
	list-style:none;
} 
img{
	border:0;vertical-align:middle;
} 
table{
	border-collapse:collapse;
	border-spacing:0;
} 
p{
	word-wrap:break-word;
} 
/*------页面样式------*/
#wrap{
	width: 960px;
	margin: auto;
	background: #fff;
	box-shadow: 2px 0 20px #9f9f9f;
}
/*------header样式------*/
#header{
	height: 130px;
	background: url(../images/head.jpg);
}
#myheader{
	height: 173px;
}
/*------nav样式------*/
.nav{
	margin-top: 5px;
	width: 960px;
	height: 38px;
	background-color: #0B5288;
}
.nav li{
	float: left;
	width: 137px;
	text-align: center;
	font-size: 16px;
	height:38px; 
	line-height:38px;
}
.nav a{
	color: white;
	text-shadow: 2px 2px 5px #000;
	text-decoration:none;
}
.nav a:hover{
	color: #FFCC2D;
}
.nav li:hover{
	background-color: #063B63;
}
.dropdown-menu{
	overflow: hidden;
	height: 0px;
	position: absolute;
	z-index: 9999;
}
.dropdown-menu li{
	background-color: #0B5288;
	clear:both;
}
.nav li:hover .dropdown-menu{
	height:152px;
	transition-property: height;
	transition-duration: 0.2s;
	/* Firefox */
	-moz-transition-property: height;
	-moz-transition-duration: 0.2s;
	/* Safari and Chrome */
	-webkit-transition-property: height;
	-webkit-transition-duration: 0.2s;
	/* Opera */
	-o-transition-property: height;
	-o-transition-duration: 0.2s;
}
/*-------content样式-------*/
/*-------轮播图样式-------*/
#Carousel{
	float: left;
	margin-left: 40px;
	margin-top: 15px;
	width: 430px; 
	height: 260px; 
}
#content{
}
.imagecontent{
	width: 430px;
	height: 260px;
}
img{
	width:100%;
	height: 100%;
}
.imagetext{
	background-color:rgba(0, 0, 0, 0.25);
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: 30px;
	padding-top: 10px;
}
.imagetext a{
	margin-left: 10px;
	font-size: 14px;
	color: white;
}
/*-------工作动态与通知公告样式-------*/
.gzdt{
	margin-top: 15px;
	margin-right: 40px;
	float: right;
	text-align: left;
	height: 262px;
	width: 420px;
}
h1{
	margin-top: 25px;
	margin-left: 20px;
	color: #6CA5DC;
	margin-bottom: 10px;
}
.gzdt ul,.tzgg ul{
	margin-left: 20px;
}
.gzdt ul li,.tzgg ul li{
	list-style: outside;
	margin-bottom: 15px;
	color: #6CA5DC;
}
.more{
	float: right;
	margin-right: 50px;
	font-size: 13px;
	margin-top: -15px;
}
.tzgg{
	margin-left: 40px;
	float: left;
	width: 430px;
	height: 240px;
}
/*------审计业务样式------*/
.sjyw{
	float: right;
	width: 420px;
	height: 240px;
	overflow: hidden;
	margin-right: 40px;
}
.sjyw h2{
	margin-top: 10px;
	margin-left: 20px;
	color: #6CA5DC;
	margin-bottom: 10px;
}
.sjyw .baner{
	height: 80px;
	width: 100%;
	background-image: url(../images/baner.jpg);
}
.sjyw li{
	width: 80px;
	float: left;
	margin-left: 20px;
	margin-bottom: 5px;
}
/*------copyright样式------*/
#copyright{
	font-size: 12px;
	width: 960px;
	height: 40px;
	background: #e4e4e4;
	margin-top: 10px;
	padding-top: 10px;
	clear: both;
	text-align: center;
}
