.current_location{
	width:920px;
	height: 25px;
	background-color: #F1F1F1;
	padding: 5px 0 0 40px; 
	border-top:1px solid black;
	border-bottom: 1px dashed black;
}
.current_location a{
	font-size: 14px;
	color: #0D5D8C;
}
.content_text{
	overflow: hidden;
}
.content_text_title{
	float: left;
	width: 150px;
	height:100%;
	padding-top: 15px; 
	background-color: #E3F3F3;
}
.content_text_text{
	float: left;
	width:800px;
}
#content_text_title_ul li a{
	font-size: 16px;
	line-height: 25px;
}

#content_text_title_ul li{
	margin-left:15px;
	width: 120px;
	height: 25px;
	margin-bottom: 15px;
	text-align: center;
	border-bottom: 1px dashed black;
}
